* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header, .hero, .footer {
    background-color: #1f2937;
}

.hero .main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    line-height: 40px;
}

.secondary, ul {
    font-size: 18px;
    color: #e5e7eb;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.section-1 .section-1-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.header-container {
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.main, .secondary {
    margin: 0;
}

.hero {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    height: 210px;
    width: 800px;
    display: flex;
    gap: 30px;
}

.hero-subcontainer {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

button {
    padding: 7px 20px;
    color: #f8f8f8;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    background-color: #3882f6;
    width: 105px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    gap: 20px;
}

.images {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1100px;
}

.images p {
    margin: 2px 0;
    text-align: center;
    width: 150px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
}

img {
    border: 3px solid blue;
    border-radius: 8px;
}

.section-2 {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.section-2-container {
    height: 60%;
    width: 1100px;
    display: flex;
    flex-direction: column;
}

.section-2 p {
    margin: 0;
}

#quoter {
    align-self: flex-end;
    font-weight: bold;
    font-size:large;
}

.section-3 p, .section-3 h3 {
    margin: 0;
}

.section-3 {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-container {
    width: 1200px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 10px;
}

.section-3-text {
    display: flex;
    flex-direction: column;
    height: fit-content;
    color: #f9faf8;
}

.section-3 button {
    background-color: #3882f6;
    border-radius: 8px;
    border: 3px groove white;
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}